.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header p {
  font-size: 0.9em;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
