.container {
  max-width: 56rem;
  /* max-width: 36rem; */
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  margin-bottom: 3rem;
}

.header a {
  color: #fafafa;
}

.headerDescription {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.headerDescription p {
  margin: 0;
}

.headerDescription .divider {
  height: 2em;
  width: 1px;
  background-color: #fafafa;
  margin: 0 0.5em;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .headerDescription {
    flex-direction: column;
    text-align: center;
  }

  .headerDescription p {
    margin: 5px;
  }

  .headerDescription .divider {
    width: 100%;
    height: 1px;
    margin: 0;
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.event {
  margin: 20px 0;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;

}


.event2 {
  margin: 20px 0;
  background: #ffe263;
  border-radius: 5px;
  padding: 0.75rem;
}

.event ul {
  padding: 0;
  padding-left: 1em;
  margin: 0;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
}

.event ul li {
  list-style: none;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
}